@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background: url("./bg-img-bicycle.png");
}

#titleName {
  text-align: center;
  position: fixed;
  bottom: 200px;
  width: 100%;
  font-family: "Permanent Marker", cursive;
  color: antiquewhite;
  font-size: 60px;
  text-shadow: 2px 2px 12px black;
}

#firebaseui_container {
  position: fixed;
  bottom: 100px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  #titleName {
    font-size: 48px;
  }
}
